@use './mixins' as mx; 
@use './variables' as v;

.About {
  @include mx.flexStart;
  flex-direction: column;
  height: calc(100vh - 80px);
  // height: 100%;
  @include mx.mq(768px) {
    padding-block-start: 5rem;
  }
  @include mx.mq(1024px) {
    height: calc(100vh - 100px);
  }

  &-logo-container {
    max-width: 70.5rem;
    @include mx.mq(768px) {
      width: 70%;
    }
    @include mx.mq(1024px) {
      width: 50%;
    }

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info-container {
    @include mx.flexCenter;
    max-width: 90rem;
    @include mx.mq(768px) {
      padding-block: 3rem 0;
      width: 80%;
    }

    img {
      height: 25rem;
      width: 25rem;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      padding-inline: 7rem;
      line-height: 2;
    }
  }

  &-contact-animation-container {
    position: relative;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    transform: scaleX(3);

    a {
      .route {
        width: 100%;
        height: 100%;
        
        .plane {
          position: absolute;
          left: 0;
          top: 40%;
          margin-inline-start: -1rem;
          display: block;
          height: 1.6rem;
          width: 5rem;
          font-size: 1.6rem;
          transform: scale(.4, 1);
        }
      }
      
      &:hover {
        .route {
          animation: orbit 4s infinite linear;

          .plane {
            animation: correctScale 4s infinite linear;
          }
        }
      }
    }

    p {
      position: absolute;
      top: 50%;
      width: 12rem;
      transform: scaleX(0.38) translate(-30%, -50%);
    }
  }
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg)
  } 100% {
    transform: rotateZ(360deg);
  }
}
@keyframes correctScale {
  20% {
    transform: scale(.5, .4);
  } 40% {
    transform: scale(.5, .4);
  } 64% {
    transform: scale(.7, 1);
  } 80% {
    transform: scale(.4, 1);
  }
}