@use './mixins' as mx; 

.About {
  @include mx.flexStart;
  flex-direction: column;
  height: calc(100vh - 80px);
  padding-block-start: 5rem;
  @include mx.mq(1024px) {
    height: calc(100vh - 100px);
  }

  &-logo-container {
    max-width: 70.5rem;
    
    @include mx.mq(768px) {
      width: 70%;
    }
    @include mx.mq(1024px) {
      width: 50%;
    }

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info-container {
    @include mx.flexCenter;
    width: 80%;

    img {
      height: 30rem;
      width: 30rem;
      border-radius: 50%;
    }

    p {
      padding-inline: 7rem;
      line-height: 2;
    }
  }
}