@use 'mixins' as mx;

main {
  position: relative;
  z-index: 0;
}

.height-adjust {
  height: calc(100vh - 164px);
  @include mx.mq(1024px) {
    height: calc(100vh - 184px);
  }
}

.hidden {
  display: none;
}