@use 'mixins' as mx;

main {
  position: relative;
  z-index: 0;
}

.height-adjust {
  height: calc(100vh - 167px);
  @include mx.mq(1024px) {
    height: calc(100vh - 187px);
  }
}

.hidden {
  display: none;
}