@use './mixins' as mx;
@use './variables' as v;

.ContactSuccess {
  .logo-container {
    width: min(100% - 3rem, 70.5rem);
    margin-inline: auto;
    padding-block-start: 11rem;
    @include mx.mqh(1080px) {
      margin-block-start: 10rem;
    }

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-container {
    margin-block-start: 2.5rem;
    

    h1 {
      padding-block-end: 2rem;
    }

    .link-container {
      padding-block-start: 2rem;

      a {
        display: inline-block;
        font-size: 2rem;
        background-image: v.$movingGradient;
        background-size: 2200%;
        background-position: top left;
        background-clip: text;
        color: transparent;
        animation: bg-movement 4s infinite alternate;
        transition: all .5s ease;

        &:first-child {
          margin-inline-end: 2rem;
        }

        &.link:hover {
          transform: scale(1.1);
          transition: all .5s ease;
          text-shadow: none;
        }
      }

      p {
        padding-block: 2rem;
      }
    }
  }
}

@keyframes bg-movement {
  0% {
    background-position: top left;
  } 
  100% {
    background-position: bottom right;
  }
}