@use './mixins' as mx;
@use './variables' as v;

.ContactError {
  display: grid;
  align-content: center;
  
  .container {
    p:nth-child(2) {
      padding-block: 8rem;
    }

    a {
      font-size: 2.8rem;
      @include mx.movingGradient;
      transition: all .5s ease;

      &:hover, &:focus {
        @include mx.scaleTransition;
      }
    }
  }
}
