@use './mixins' as mx;

.ContactSuccess {
  .logo-container {
    width: min(100% - 3rem, 70.5rem);
    margin-inline: auto;
    padding-block-start: 11rem;
    @include mx.mqh(1080px) {
      margin-block-start: 10rem;
    }

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-container {
    margin-block-start: 2.5rem;
    

    h1 {
      padding-block-end: 2rem;
    }

    .link-container {
      padding-block-start: 2rem;
      a {
        font-size: 2rem;
      }
      a:first-child {
        margin-inline-end: 2rem;
      }

      p {
        padding-block: 2rem;
      }
    }
  }
}