@use './variables' as v;
@use './mixins' as mx;

.Contact {
  height: calc(100vh - 80px);

  @include mx.mq(1024px) {
    height: calc(100vh - 100px);
  }

  h1 {
    font-size: 2.5rem;
    padding-block: 5rem;
    @include mx.mq(768px) {
      font-size: 2.8rem;
      padding-block-start: 7rem;
    }
    @include mx.mq(1024px) {
      font-size: 3.3rem;
      padding-block-start: 8rem;
    }
  }

  form {
    width: 80%;
    max-width: 68rem;;
    margin-inline: auto;

    .form-control {
      width: 80%;
      margin-inline: auto;

      .label {
        position: absolute;
        transform: translateX(-10000px);
      }

      .input {
        width: 100%;
        font-family: inherit;
        padding-block: 1rem;
        padding-inline-start: 1rem;
        border-radius: 1.2rem;
        margin-block: 2.5rem;
        border: none;

        &[name="message"] {
          height: 12rem;
        }

        &:focus {
          border: 1px solid v.$neonBlue; 
          box-shadow: v.$neonBlueBoxShadow;
          outline: none;
        }
      }

      button {
        width: 100%;
        font-family: inherit;
        padding-block: 1rem;
        border: none;
        border-radius: 1.2rem;
        cursor: pointer;

        &:hover, &:focus {
          border: 1px solid v.$neonBlue; 
          background-color: v.$neonBlue;
          box-shadow: v.$neonBlueBoxShadow;
          outline: none;
        }
      }
    }
    
  }
}