@use 'variables' as v;
@use 'mixins' as mx;
@use 'functions' as f;

.Footer {
  position: relative;
  background-color: v.$neonBlueOpaque;
  padding-block: 1.5rem;
  z-index: 10;
  transition: all .8s ease;
  
  .links-container {
    padding-block-end: 1rem;
    display: flex;
    justify-content: space-around;
    width: 70%;
    max-width: 50rem;
    margin-inline: auto;

    a {
      .icon {
        display: inline-block;
        font-size: 2rem;
        z-index: 15;
        transition: all .5s ease;

        &:hover {
          transition: all .5s ease;
          transform: scale(1.6);
        }
      }
      
      &:hover {
        transition: scale .6s ease;
        color:v.$altHoverColor;
      }
    }
  }

  &-tab {
    position: absolute;
    top: -8.02rem;
    height: 8rem;
    width: 8rem;
    background-color: v.$neonBlueOpaque;
    box-shadow: -4px -4px 1rem hsl(199, 100%, 50%);
    z-index: 11;
    cursor: pointer;
    transition: all .6s ease;
    overflow: hidden;
  }
  
  .arrow {
    position: absolute;
    font-size: 3.1rem;
    color: v.$altHoverColor;
    cursor: pointer;
    transition: all 1s ease;
  }
}