@use './mixins' as mx;
@use './variables' as v;

.Header {
  position: relative;
  height: 8rem;
  background: transparent;
  padding-block: 4rem;
  padding-inline: 5rem;
  z-index: 1;
  @include mx.mq(1024px) {
    padding-block-start: 6rem;
    padding-inline: 8rem;
  }

  &-content-ctnr {
    @include mx.flexSpaceBetween;
    max-width: 120rem;
    margin-inline: auto;
    @include mx.mq(1024px) {
      font-size: 2rem;
    }

    a:hover {
      background-image: v.$movingGradient;
      background-clip: text;
      color: transparent;
      background-size: 1200%;
      animation: bg-movement 3s infinite;
      text-shadow: none;
    }
  }
}