@use './variables' as v;
@use './mixins' as mx;
@use './functions' as f;

.Hero {
  @include mx.flexStart;
  flex-direction: column;
  background-color: transparent;
  // width: min(100% - 3rem, 70.5rem);
  // margin-inline: auto;

  &-logo-container {
    padding-block-start: 11rem;
    max-width: 70.5rem;
    
    @include mx.mq(768px) {
      width: 70%;
    }
    @include mx.mq(1024px) {
      width: 50%;
    }

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info-container {
    margin-block-start: 2.5rem;

    h1 {
      font-size: 2.6rem;
      
      @include mx.mq(768px) {
        font-size: 2.8rem;
      }
    }

    .tech-list {
      @include mx.flexAround;
      flex-wrap: wrap;
      width: 75%;
      line-height: 1.2;
      margin-inline: auto;
      margin-block-start: 2.5rem;

      &-item-container {
        margin-block: 1.4rem;

        svg {
          font-size: 2.2rem;
          color: v.$neonBlue;
        }

        p {
          font-size: 1.8rem;
          padding-block-start: .5rem;
          margin-inline: 2rem;
        }
      }

    }
  }
}