@use './variables' as v;
@use './mixins' as mx;

.Hero {
  position: relative;
  width: 100%;
  text-align: center;
  height: calc(100% - 8rem);
  background-image: v.$backgroundGradient;
  @include mx.flexStart;
  flex-direction: column;
  padding-block-start: 11rem;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../images/pexels-danny-meneses-943096.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-start: -8rem;
    opacity: .11;
  }

  &-logo-ctnr {
    // border: 1px solid white;

    img {
      padding-inline-start: 2rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info-ctnr {
    margin-block-start: 2.5rem;

    h1 {
      font-size: 2.8rem;
    }

    .tech-list {
      @include mx.flexAround;
      flex-wrap: wrap;
      width: 75%;
      line-height: 3;
      margin-inline: auto;
      margin-block-start: 2.5rem;

      p {
        margin-inline: 2rem;
      }
    }
  }
}