@use './functions.scss' as f;
@use './variables.scss' as v;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  
  body {
    font-family: 'Marcellus SC', serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #000;
    color: f.setTextColor(#000);
    
    a, h1, h2, h3, h4, h5, h6 {
      color: f.setTextColor(#000);
      text-decoration: none;
      text-transform: uppercase;
    }
  
    a:focus {
      outline: none;
    }

    p {
      text-transform: none;
      font-size: 1.8rem;
    }
  }
}

