@use './variables' as v;
@use './mixins' as mx;

.Layout {
  position: relative;
  width: 100%;
  text-align: center;
  background-image: v.$backgroundGradient;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../images/pexels-danny-meneses-943096.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .11;
    @include mx.mq(1008px) {
      margin-block-start: -10rem;
    }
  }

  // Line animations 
  .left-bar, .right-bar {
    position: absolute;
    background-color: v.$neonBlueOpaque;
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      width: .3rem;
      height: 50rem;
      box-shadow: 3px 0 8px hsla(0, 100%, 50%, 0.35);
      @include mx.mq(1024px) {
        width: .2rem;
        box-shadow: 0 0 8px hsla(0, 100%, 50%, 0.35)
      }
    }
  }

  .left-bar {
    height: 100%;
    width: .3rem;
    &:before {
      background-image: v.$lineGradient-down;
      animation: vertMoveDown 20s linear infinite;
    }
    @include mx.mq(1024px) {
      left: 25%;
      width: .2rem;
    }
  }
  .right-bar {
    height: 100%;
    width: .2rem;
    &:before {
      top: 100%;
      background-image: v.$lineGradient-up;
      animation: vertMoveUp 20s linear infinite;
    }
    @include mx.mq(1024px) {
      right: 25%;
    }
  }
}

// Animation in _App.scss