@use './mixins' as mx;

.Missing {
  .container {
    width: 80%;
    margin-inline: auto;
    
    h1 {
      font-size: 3.2rem;
      padding-block: 7rem 5rem;
      @include mx.mq(768px) {
        padding-block-start: 7rem;
      }
      @include mx.mq(1024px) {
        font-size: 4rem;
        padding-block-start: 8rem;
      }
    }
    
    p {
      padding-block: 4rem;
    }
    
    a {
      font-size: 2.8rem;
    }
  }
}