@use './variables' as v;
@use './functions' as f;
@use './mixins' as mx;

.Nav {
  .bar-icon {
    padding-block-start: .3rem;
    font-size: 2rem;
    cursor: pointer;
  }

  .link-container {
    a {
      @include mx.mq(768px) {
        margin-inline: 2rem;
      }
    }
  }

  &.showNav {
    .bar-icon {
      position: relative;
      z-index: 5;
    }

    .link-container {
      position: fixed;
      top: 0;
      left: 0;
      @include mx.flexStart;
      flex-direction: column;
      width: 100%;
      background: v.$transparentBg;
      padding-block-start: 10rem;
      z-index: 4;
      height: 100%;
      
      a {
        padding-block: 1rem;
        font-size: 1.9rem;
        letter-spacing: 1.5px;
      }
    }
  }
}